<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="prevent-pause.js" verb="*" modules="iisnode" />
    </handlers>
    
    <webSocket enabled="false" />
    
    <rewrite>
      <rules>
        <rule name="prevent-pause">
          <match url="prevent-pause" />
          <action type="Rewrite" url="prevent-pause.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>